/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item {
  background: #928c8c;
  border: 1px solid #9c9999;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.todo-lists ul {
  margin-top: 2rem;
  display: flex;
  /* background-color: olive; */
  gap: 1rem;
}

.todo-lista {
  /* display: flex; */
  /* background-color: tomato; */
}
.todo-lista-header {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  gap: 0.5rem;
}
